    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>My name is Daniel Ward, and I'm a DevOps engineer with a passion for exploring new ways of interacting any type of software and hardware can come my way.</p>
                <p>I'm highly interested in hosting platforms and and tools like <a href="http://aws.amazon.com">
                    AWS</a>, <a href="http://python.org">Python</a>, <a href="http://flask.pocoo.org/">Flask</a>
                    and <a href="http://aws.amazon.com/lambda/">Lambda</a>. <a href="http://arduino.cc">Arduino</a>, <a href="http://raspberrypi.org/">Raspberry Pi</a>,
                    <a href="http://www.rtl-sdr.com/">RTL-SDR</a>, <a href="http://www.sparkfun.com/products/13678">ESP8266</a>
                    and what ever else I can convince my wife to let me buy take up a large part of my spare time.</p>
                <p>I'm known and respected for my troubleshooting and quick thinking in any emergency situation
                    and take pride in being the
                    "go to" guy for just about anything you tech related you can think of.</p>
                <p>I welcome you to take a look through my <a href="#">blog</a> posts for some more insight.</p>
            </div>
        </div>
    </section>