    <!-- Download Section -->
    <section id="projects" class="content-section text-center">
        <div class="projects-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Projects</h2>
                    <a href="http://guvera.com" class="btn btn-default btn-lg">Guvera</a>
                    <br><br>
                    <p>International music streaming service focused on brand funded solutions to combat music piracy
                    and provide a unique service for both brands and users alike.</p>
                    <a href="http://fradio.com" class="btn btn-default btn-lg">Fradio</a>
                    <br><br>
                    <p>With Fradio you can broadcast the music you want the world to hear. Discover what tracks your closest friends and biggest idols are playing at this very moment.</p>

                </div>
            </div>
        </div>
    </section>